<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aus.linker.note.biz.domain.mapper.NoteLikeDOMapper">

    <resultMap id="BaseResultMap" type="com.aus.linker.note.biz.domain.dataobject.NoteLikeDO">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="noteId" column="note_id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,note_id,
        create_time,status
    </sql>

    <insert id="insertOrUpdate" parameterType="com.aus.linker.note.biz.domain.dataobject.NoteLikeDO">
        INSERT INTO t_note_like (user_id, note_id, create_time, status)
        VALUES (#{userId}, #{noteId}, #{createTime}, #{status})
            ON DUPLICATE KEY UPDATE
                 create_time = #{createTime}, status = #{status}
    </insert>

    <update id="update2UnlikeByUserIdAndNoteId" parameterType="com.aus.linker.note.biz.domain.dataobject.NoteLikeDO">
        update t_note_like set status = #{status}, create_time = #{createTime}
        where user_id = #{userId} and note_id = #{noteId} and status = 1
    </update>

    <select id="selectByUserId" resultMap="BaseResultMap" parameterType="map">
        select note_id from t_note_like
        where user_id = #{userId} and status = 1
    </select>

    <select id="selectCountByUserIdAndNoteId" resultType="int" parameterType="map">
        select count(1) from t_note_like where user_id = #{userId} and note_id = #{noteId} and status = 1 limit 1
    </select>

    <select id="selectNoteIsLiked" resultType="int" parameterType="map">
        select count(1) from t_note_like where user_id = #{userId} and note_id = #{noteId} and status = 1 limit 1
    </select>

    <select id="selectLikedByUserIdAndLimit" resultType="com.aus.linker.note.biz.domain.dataobject.NoteLikeDO">
        select note_id, create_time from t_note_like
        where user_id = #{userId} and status = 1 order by create_time desc limit #{limit}
    </select>

</mapper>
