<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aus.linker.note.biz.domain.mapper.NoteCollectionDOMapper">

    <resultMap id="BaseResultMap" type="com.aus.linker.note.biz.domain.dataobject.NoteCollectionDO">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="noteId" column="note_id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,note_id,
        create_time,status
    </sql>

    <insert id="insertOrUpdate" parameterType="com.aus.linker.note.biz.domain.dataobject.NoteCollectionDO">
        INSERT INTO t_note_collection (user_id, note_id, create_time, status)
        VALUES (#{userId}, #{noteId}, #{createTime}, #{status})
            ON DUPLICATE KEY UPDATE
                                 create_time = #{createTime}, status = #{status}
    </insert>

    <update id="update2UnCollectByUserIdAndNoteId" parameterType="com.aus.linker.note.biz.domain.dataobject.NoteCollectionDO">
        UPDATE t_note_collection SET status = #{status}, create_time = #{createTime}
        WHERE user_id = #{userId} and note_id = #{noteId} and status = 1
    </update>

    <select id="selectCountByUserIdAndNoteId" resultType="int" parameterType="map">
        select count(1) from t_note_collection where user_id = #{userId} and note_id = #{noteId} and status = 1 limit 1
    </select>

    <select id="selectByUserId" resultMap="BaseResultMap" parameterType="map">
        select note_id from t_note_collection
        where user_id = #{userId} and status = 1
    </select>

    <select id="selectNoteIsCollected" parameterType="map" resultType="int">
        select count(1) from t_note_collection where user_id = #{userId} and note_id = #{noteId} and status = 1 limit 1
    </select>

    <select id="selectCollectedByUserIdAndLimit" parameterType="map" resultMap="BaseResultMap">
        select note_id, create_time from t_note_collection
        where user_id = #{userId} and status = 1 order by create_time desc limit #{limit}
    </select>

</mapper>
